project:
  type: website

website:
  description: "A blog built with Quarto"
  site-url: https://Ian-P-McCabe.github.io/blog # you must change this appropriately for RSS feeds to work properly
  title: "personal-blog"
  navbar:
    right:
      - about.qmd
      - icon: github
        href: https://github.com/
      - icon: twitter
        href: https://twitter.com
  open-graph: true
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css



